* {
    margin: 0;
    padding: 0
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 400px;
    width: 400px;
    margin: 20px auto;
    background-color: #225675;
    border: 20px solid #7dd9ff;
    position: relative
}

.container button {
    border: none;
    outline: none;
}

.replaybtn {
    height: 150px;
    width: 150px;
    background: url("../img/replay.png") center/contain no-repeat;
    display: none;
}

.startbtn {
    height: 150px;
    width: 150px;
    background: url("../img/start.png") center/contain no-repeat;
    display: none;
}